Repository JSchmie/versioning-test-repo, pull requests merged in 2024-08, with the labels that each got.

#172 get correct release notes
  .github/workflows/check-changelog.yaml
  .github/workflows/semantic-versioning.yaml
  CHANGELOG.md
  src/main.py
Labels: release, workflows

#173 Develop
  CHANGELOG.md
  src/main.py
Labels: documentation, release

#174 Test
  .github/workflows/check-changelog.yaml
  .github/workflows/semantic-versioning.yaml
  src/main.py
Labels: release, workflows

#175 more code changes
  .github/workflows/check-changelog.yaml
  CHANGELOG.md
  src/main.py
Labels: documentation, release, workflows

#176 Develop
  .github/workflows/check-changelog.yaml
  .github/workflows/semantic-versioning.yaml
  CHANGELOG.md
  src/main.py
Labels: documentation, release, workflows

#177 Test
  .github/workflows/semantic-versioning.yaml
  CHANGELOG.md
  src/main.py
Labels: release, workflows

#178 Some very important release notes
  .github/workflows/semantic-versioning.yaml
  CHANGELOG.md
  src/main.py
Labels: documentation, release, workflows

#179 Test
  .github/workflows/autolabel.yaml
  .github/workflows/check-changelog.yaml
  .github/workflows/semantic-versioning.yaml
  CHANGELOG.md
  src/main.py
Labels: documentation, release, workflows

#180 Develop
  .github/workflows/autolabel.yaml
  .github/workflows/check-changelog.yaml
  .github/workflows/semantic-versioning.yaml
  CHANGELOG.md
  src/main.py
Labels: documentation, release, workflows

#183 Test
  .github/workflows/autolabel-pr.yaml
  .github/workflows/check-changelog.yaml
  .github/workflows/docker.yaml
  .github/workflows/pypi.yml
  .github/workflows/release.yaml
  .github/workflows/semantic-versioning.yaml
Labels: workflows

#184 Develop
  .github/workflows/autolabel-pr.yaml
  .github/workflows/check-changelog.yaml
  .github/workflows/docker.yaml
  .github/workflows/pypi.yml
  .github/workflows/release.yaml
  .github/workflows/semantic-versioning.yaml
Labels: workflows

#185 release checks workflworun to run rather then be skipped
  .github/workflows/release.yaml
Labels: workflows

#186 Test
  .github/workflows/release.yaml
Labels: workflows

#187 Develop
  .github/workflows/release.yaml
Labels: workflows

#188 ref main
  .github/workflows/release.yaml
Labels: workflows

#190 Update GH Actions to work with automatically created release notes
  .github/labeler.yml
  .github/release.yml
  .github/workflows/docker.yaml
  .github/workflows/release.yaml
  .github/workflows/semantic-versioning.yaml
  LICENSE
Labels: workflows

#192 moved into multiple jobs and fixed syntax
  .github/workflows/release.yaml
Labels: workflows

#193 Develop
  .github/workflows/release.yaml
Labels: workflows, ignore-for-release

#195 Develop
  .github/labeler.yml
  .github/release.yml
  .github/workflows/release.yaml
Labels: workflows, ignore-pr-for-release

#196 Awesome text bug fix
  src/main.py
Labels: release, patch

#197 Develop
  .github/release.yml
  src/main.py
Labels: release, ignore-pr-for-release, patch

#199 removed files from release
  .github/workflows/release.yaml
Labels: workflows

#200 added more files to workflow lable
  .github/labeler.yml
Labels: workflows

#202 insane complicated bug fix
  src/main.py
Labels: release, patch

#204 Develop
  .github/workflows/docker.yaml
  Dockerfile
Labels: docker, workflows, ignore-pr-title-for-release

#207 removed semver bullshit
  .github/workflows/auto-label-issue.yaml
  .github/workflows/docker.yaml
  .github/workflows/pypi.yml
  .github/workflows/release.yaml
  .github/workflows/semantic-versioning.yaml
Labels: workflows, ignore-pr-title-for-release

#208 Develop
  .github/workflows/docker.yaml
  Dockerfile
Labels: docker, workflows, ignore-pr-title-for-release

#209 Develop
  .github/workflows/docker.yaml
  Dockerfile
Labels: docker, workflows, ignore-pr-title-for-release

#211 removed debugging
  .github/workflows/docker.yaml
Labels: workflows, ignore-pr-title-for-release

#212 fixing bug
  src/main.py
Labels: release, patch

#213 adding a feature
  src/main.py
Labels: release, feature

#215 Develop
  README.md
  src/main.py
Labels: documentation, release, ignore-pr-title-for-release

#216 Docker workflow test
  .github/workflows/docker.yaml
  .github/workflows/release.yaml
  CHANGELOG.md
Labels: documentation, workflows

#218 Docker workflow test
  .github/workflows/docker.yaml
Labels: workflows
