Repository JSchmie/versioning-test-repo, pull requests merged in 2024-07, with the labels that each got.

#55 aded continue on error
  .github/workflows/pypi.yml
Labels: workflows

#57 updated source
  CHANGELOG.md
  src/main.py
Labels: documentation, release

#58 test merge to develop
  .github/workflows/pypi.yml
  src/main.py
Labels: workflows

#62 github.event_name changed to target
  .github/workflows/pypi.yml
Labels: workflows

#65 fixed echo
  .github/workflows/pypi.yml
Labels: workflows

#68 Develop
  .github/workflows/pypi.yml
  src/main.py
Labels: release, workflows

#70 added more debugging
  .github/workflows/pypi.yml
Labels: workflows

#74 Fix bugs in PyPI yaml
  .github/workflows/pypi.yml
  src/main.py
Labels: release, workflows

#89 check label
  .github/workflows/pypi.yml
Labels: workflows

#91 fixed syntax
  .github/workflows/pypi.yml
Labels: workflows

#92 Test
  .github/labeler.yml
  .github/workflows/pypi.yml
  src/main.py
Labels: release, workflows

#93 test more docs stuff
  README.md
Labels: documentation

#94 more debug stuff
  .github/workflows/pypi.yml
Labels: workflows

#95 added echo
  .github/workflows/pypi.yml
Labels: workflows

#98 fixed additonal bool
  .github/workflows/pypi.yml
Labels: workflows

#101 more debugging
  .github/workflows/pypi.yml
Labels: workflows

#102 fixed syntax
  .github/workflows/pypi.yml
Labels: workflows

#107 even more minimal
  .github/workflows/pypi.yml
Labels: workflows

#109 readded ${{ }}
  .github/workflows/pypi.yml
Labels: workflows

#110 added multiline
  .github/workflows/pypi.yml
Labels: workflows

#111 added ()
  .github/workflows/pypi.yml
Labels: workflows

#112 changed | to >
  .github/workflows/pypi.yml
Labels: workflows

#113 test this super weird syntax
  .github/workflows/pypi.yml
Labels: workflows

#115 readded stuff
  .github/workflows/pypi.yml
Labels: workflows

#116 Test
  .github/workflows/pypi.yml
Labels: workflows

#118 test omit notation
  .github/workflows/pypi.yml
Labels: workflows

#119 omit ${{}} notation
  .github/workflows/pypi.yml
Labels: workflows

#120 added some code again
  src/main.py
Labels: release

#122 try to fix stuff
  .github/workflows/pypi.yml
Labels: workflows

#123 try to make bool stuff great again
  .github/workflows/pypi.yml
Labels: workflows

#124 omit ${{}}
  .github/workflows/pypi.yml
Labels: workflows

#127 add code
  src/main.py
Labels: release

#129 Test
  .github/workflows/pypi.yml
  src/main.py
Labels: release, workflows

#130 Develop
  .github/workflows/pypi.yml
  src/main.py
Labels: release, workflows

#131 fiexed inputs
  .github/workflows/pypi.yml
Labels: workflows

#132 Develop
  .github/labeler.yml
  .github/workflows/pypi.yml
  src/main.py
  tests/test.py
Labels: release, workflows, tests

#133 Develop
  .github/auto-label.json5
  .github/workflows/docker.yaml
Labels: workflows

#134 Develop
  .github/workflows/autolabel.yaml
  .github/workflows/docker.yaml
Labels: workflows

#136 added dunami versioning
  .github/workflows/docker.yaml
Labels: workflows

#137 Develop
  .github/auto-label.json5
  .github/labeler.yml
  .github/workflows/autolabel.yaml
  .github/workflows/docker.yaml
  src/main.py
  tests/test.py
Labels: release, workflows, tests

#138 Test
  Dockerfile
Labels: docker

#140 New tag system for v0.3.4
  .github/workflows/autolabel.yaml
  .github/workflows/check-changelog.yaml
  .github/workflows/docker.yaml
  .github/workflows/semantic-versioning.yaml
  CHANGELOG.md
  src/main.py
Labels: documentation, release, workflows

#141 Update main to the latest version
  .github/workflows/autolabel.yaml
  .github/workflows/check-changelog.yaml
  .github/workflows/docker.yaml
  .github/workflows/pypi.yml
  .github/workflows/semantic-versioning.yaml
  CHANGELOG.md
  Dockerfile
  src/main.py
Labels: documentation, release, docker, workflows

#145 Update semantic version Action to work with check-changelog Action
  .github/workflows/autolabel.yaml
  .github/workflows/semantic-versioning.yaml
Labels: workflows

#146 Develop
  .github/workflows/autolabel.yaml
  .github/workflows/semantic-versioning.yaml
Labels: workflows

#147 Added some code to fix bug
  CHANGELOG.md
  src/main.py
Labels: documentation, release

#148 merge to main
  CHANGELOG.md
  src/main.py
Labels: documentation, release

#149 Test
  .github/workflows/semantic-versioning.yaml
Labels: workflows

#151 code changes
  CHANGELOG.md
  src/main.py
Labels: release

#153 Test
  CHANGELOG.md
  src/main.py
Labels: release

#154 Develop
  CHANGELOG.md
  src/main.py
Labels: documentation, release

#155 added Dunamei testfile and updated CI
  .github/workflows/issue.yaml
  .github/workflows/semantic-versioning.yaml
  CHANGELOG.md
  src/dunamai_test_file.py
Labels: release, workflows

#156 Develop
  .github/workflows/issue.yaml
  .github/workflows/semantic-versioning.yaml
  CHANGELOG.md
  src/dunamai_test_file.py
Labels: documentation, release, workflows

#157 Shortened our code base
  CHANGELOG.md
  src/dunamai_test_file.py
  src/main.py
Labels: documentation, release

#144 switch base image in Dockerfile
  CHANGELOG.md
  Dockerfile
Labels: docker

#159 minor changes in Dockerfile and main.py
  CHANGELOG.md
  Dockerfile
  src/main.py
Labels: release, docker

#160 Steffens much needed improvements
  CHANGELOG.md
  Dockerfile
  src/main.py
Labels: documentation, release, docker

#161 Handle .pre tag better
  .github/workflows/autolabel.yaml
  .github/workflows/check-changelog.yaml
  .github/workflows/semantic-versioning.yaml
Labels: workflows

#162 Develop
  .github/workflows/autolabel.yaml
  .github/workflows/check-changelog.yaml
  .github/workflows/semantic-versioning.yaml
Labels: workflows

#163 make code longer
  CHANGELOG.md
  src/main.py
Labels: release

#164 Test
  .github/workflows/check-changelog.yaml
  CHANGELOG.md
  src/main.py
Labels: documentation, release, workflows

#165 Develop
  .github/workflows/check-changelog.yaml
  CHANGELOG.md
  src/main.py
Labels: documentation, release, workflows

#167 More changes to the Actions
  .github/workflows/autolabel.yaml
  .github/workflows/check-changelog.yaml
  CHANGELOG.md
  src/main.py
Labels: documentation, release, workflows

#168 Develop
  .github/workflows/autolabel.yaml
  .github/workflows/check-changelog.yaml
  CHANGELOG.md
  src/main.py
Labels: documentation, release, workflows

#169 create target_branch input to the actions
  .github/workflows/autolabel.yaml
  .github/workflows/check-changelog.yaml
  .github/workflows/semantic-versioning.yaml
  CHANGELOG.md
  src/main.py
Labels: release, workflows

#170 Develop
  .github/workflows/autolabel.yaml
  .github/workflows/check-changelog.yaml
  .github/workflows/semantic-versioning.yaml
  CHANGELOG.md
  src/main.py
Labels: documentation, release, workflows
