Repository JSchmie/versioning-test-repo, pull requests merged in 2024-09, with the labels that each got.

#220 Docker workflow test
  .github/workflows/docker.yaml
  Dockerfile
Labels: docker, workflows

#221 Develop
  .github/workflows/docker.yaml
  Dockerfile
Labels: docker, workflows, ignore-pr-title-for-release

#222 fix pypi ci to run on push to branches
  .github/workflows/pypi.yml
Labels: workflows, patch

#224 Patch pypi ci
  src/main.py
Labels: release, patch

#225 Patch pypi ci
  .github/workflows/pypi.yml
  src/main.py
Labels: release, workflows, patch

#227 fail intentionally
  .github/workflows/pypi.yml
  src/main.py
Labels: release, workflows, patch
